<ion-view title="Favourites">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header favourites">
   <button ng-show="loading" class="button button-full button-light">
      <i class="icon ion-loading-c"></i>
    </button>
    <ion-list>
      <a ng-repeat="Spot in favourites" class="item item-thumbnail-left" href="#/app/playlists/{{Spot.id}}">
       <i class="rank-icon"></i>
        <div class="preview-img" style="background:url({{Spot.thumbnail}}) center center; background-size: cover;"></div>
        <h2 ng-bind-html="Spot.title"></h2>
        <p>{{Spot.address}}</p>
        <span class="btn_blue">Check it out</span>
      </a>
      <div class="no-favourites" ng-show="nofav">Add some favourites to get started</div>
    </ion-list>
  </ion-content>
</ion-view>
